# Resources required by the sample browser and most samples.
[Essential]
Zip=../media/packs/SdkTrays.zip
FileSystem=../media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=../media/placeholders/materials/scripts
FileSystem=../media/placeholders/materials/textures
FileSystem=../media/materials/scripts
FileSystem=../media/materials/textures
FileSystem=../media/models
Zip=../media/packs/OgreCore.zip
Zip=../media/placeholders/packs/skybox_PH_pack.zip


[General]